canvas{
    position        : absolute;
    left            : 10px;
    top             : 10px;
    /*width           : 800px;*/
    /*height          : 600px;*/
    border          : 2px solid;
    background: transparent;
}
body{
    background-color: black;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    position: absolute;
    top: 0px;
    left: 350px;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    top: 40px;
    left: 600px;
}
button{
    border :none;
    /*background:none;*/
}