canvas{
    position        : absolute;
    left            : 0px;
    top             : 0px;
    border          : none;
    background: transparent;
}
body{
    background-color: black;
}

h1{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    /*position: absolute;*/
    top: 0px;
    left: 350px;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    /*position: absolute;*/
    top: 40px;
    left: 600px;
}
button{
    border :none;
    /*background:none;*/
}
@font-face {
  font-family: 'LatoLatin-Light';
  font-style: normal;
  font-weight: normal;
  src: url(LatoLatin-Light.woff) format('woff');
}
